body{
    background-image: url(https://images.unsplash.com/photo-1707343848723-bd87dea7b118?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size:cover;
    
}

.header_one{
    background-image: url(https://images.unsplash.com/photo-1708115106922-68796b8c3b8f?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size:cover;
    
}

